/* Basic Ndialog CSS. Customize me! */

.ndialog-screen {
  background: #222;
  opacity: 0.5;
}

.ndialog-popup {
  border: solid 1px #eee;
  background: white;
}

.loading .ndialog-popup:before {
  content: 'Loading...'
}
